<a href="https://colab.research.google.com/github/BUNNYKUMA/EdaandfeatureEngineering1/blob/main/flight_predection.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np 
import pandas as pd

In [2]:
df = pd.read_excel('Data_Train.xlsx')

In [3]:
df

           Airline Date_of_Journey    Source  ... Total_Stops Additional_Info  Price
0           IndiGo      24/03/2019  Banglore  ...    non-stop         No info   3897
1        Air India       1/05/2019   Kolkata  ...     2 stops         No info   7662
2      Jet Airways       9/06/2019     Delhi  ...     2 stops         No info  13882
3           IndiGo      12/05/2019   Kolkata  ...      1 stop         No info   6218
4           IndiGo      01/03/2019  Banglore  ...      1 stop         No info  13302
...            ...             ...       ...  ...         ...             ...    ...
10678     Air Asia       9/04/2019   Kolkata  ...    non-stop         No info   4107
10679    Air India      27/04/2019   Kolkata  ...    non-stop         No info   4145
10680  Jet Airways      27/04/2019  Banglore  ...    non-stop         No info   7229
10681      Vistara      01/03/2019  Banglore  ...    non-stop         No info  12648
10682    Air India       9/05/2019     Delhi  ...     2 stops         No info  11753

[10683 rows x 11 columns]

In [11]:
df.columns

Index(['Airline', 'Date_of_Journey', 'Source', 'Destination', 'Route',
       'Dep_Time', 'Arrival_Time', 'Duration', 'Total_Stops',
       'Additional_Info', 'Price'],
      dtype='object')

airline,Date of journey,source,Destination,Route,
Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price

In [9]:
df1 = pd.read_excel('Test_set.xlsx')

In [10]:
df1

                Airline  ...              Additional_Info
0           Jet Airways  ...                      No info
1                IndiGo  ...                      No info
2           Jet Airways  ...  In-flight meal not included
3     Multiple carriers  ...                      No info
4              Air Asia  ...                      No info
...                 ...  ...                          ...
2666          Air India  ...                      No info
2667             IndiGo  ...                      No info
2668        Jet Airways  ...                      No info
2669          Air India  ...                      No info
2670  Multiple carriers  ...                      No info

[2671 rows x 10 columns]